@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Tangerine:wght@700&display=swap");

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Brygada 1918", "Times New Roman", sans-serif;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-style: italic;
    background-color: #a2c579;
    color: #ffffdd;
    width: 100vw;
}

.main-page {
    background-color: #ffffdd;
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}

.quote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    font-family: "Tangerine", "Times New Roman", sans-serif;
    font-size: 2.5rem;
    /* font-weight: 800; */
    color: #4f6f52;
}

.quote {
    margin-bottom: 1rem;
}

.quote-par {
    margin-top: 0;
}

button {
    background-color: #a2c579;
    color: #ffffdd;
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    border: 2px solid #739072;
    border-radius: 10px;
    font-family: "Brygada 1918";
    font-weight: 700;
    text-transform: uppercase;
}

button:hover {
    background-color: #ffffdd;
    color: #a2c579;
}

.page-buttons {
    display: flex;
    justify-content: space-around;
    width: 22rem;
}

.add-book-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 70vw;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.title {
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    font-family: "Tangerine", "Times New Roman", sans-serif;
    color: #4f6f52;
    font-size: 3rem;
}

label {
    font-family: "Brygada 1918";
    font-size: 0.8rem;
    color: #4f6f52;
    margin-bottom: 0.4rem;
}

input,
textarea,
input[type="file"] {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    color: #4f6f52;
    font-family: "Brygada 1918";
    font-weight: 500;
    border: 2px solid #739072;
    border-radius: 10px;
    padding: 0.5rem;
}

textarea {
    height: 10rem;
}

input:focus,
textarea:focus {
    /* border: 2px solid #d2de32; */
    width: 21rem;
    height: 3rem;
}

textarea:focus {
    height: 12rem;
}

.my-books {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    width: 30vw;
    height: 110vh;
    background-color: #739072;
}

.my-books li {
    margin-bottom: 6rem;
    list-style-type: none;
    margin-bottom: 7rem;
}

.book-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    right: 1vw;
    height: 6rem;
    width: 28vw;
    background-color: #ffffdd;
    border: 2.5px solid #4f6f52;
    padding-left: 0.4rem;
}

.book-cover-div-small {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4.5rem;
    margin-right: 1rem;
    box-sizing: border-box;
}

.book-cover-small {
    height: 50%;
}

.book-info {
    height: 4.5rem;
    padding: 0.4rem;
    display: block;
    box-sizing: border-box;
}

.book-info p {
    margin: 0;
    margin-bottom: 0.4rem;
    font-family: "Brygada 1918";
    color: #3a4d39;
}

.selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    right: 0.5vw;
    height: 6.5rem;
    width: 29vw;
    background-color: #a2c579;
    border: 2.5px solid #ffffdd;
    padding-left: 0.4rem;
}

.book-title {
    font-weight: 700;
}

.book-author {
    font-weight: 400;
    font-style: italic;
}

.book-details-section {
    margin-top: 4rem;
    position: relative;
    left: 10%;
}

.book-cover-div {
    display: flex;
    justify-content: center;
    height: 40%;
    margin-bottom: 3rem;
}

.book-info-spec {
    font-weight: 700;
    color: #3a4d39;
}

.book-actions-div {
    display: flex;
    justify-content: space-around;
}
