@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Tangerine:wght@700&display=swap");

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Brygada 1918", "Times New Roman", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    background-color: #f99417;
    width: 100vw;
}

.main-page {
    background-color: #4d4c7d;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}

.quote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    font-family: "Tangerine", "Times New Roman", sans-serif;
    font-size: 2rem;
    color: #f5f5f5;
}

.quote {
    margin-bottom: 1rem;
}

.quote-par {
    margin-top: 0;
}

button {
    background-color: #363062;
    color: #f99417;
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    border: 2px solid #f99417;
    border-radius: 10px;
    /* box-shadow: 0px 3px 3px 0 #f99417; */
    font-family: "Brygada 1918";
    font-weight: 700;
    text-transform: uppercase;
}

button:hover {
    /* width: 11rem;
    height: 4rem; */
    background-color: #f99417;
    color: #363062;
    /* box-shadow: 0px 3px 3px 0 #363062; */
    border: 2px solid #363062;
}

.main-page-btns {
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.add-book-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 70vw;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
}

.title {
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    font-family: "Tangerine", "Times New Roman", sans-serif;
    color: #f5f5f5;
    font-size: 3rem;
}

label {
    font-family: "Brygada 1918";
    font-size: 0.8rem;
    color: #f5f5f5;
    margin-bottom: 0.4rem;
}

input,
textarea,
input[type="file"] {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    color: #363062;
    font-family: "Brygada 1918";
    font-weight: 500;
    border: 2px solid #f99417;
    border-radius: 10px;
    padding: 0.5rem;
}

textarea {
    height: 10rem;
}

input:focus,
textarea:focus {
    box-shadow: 0px 3px 3px 0 #f99417;
    width: 21rem;
    height: 3rem;
}

textarea:focus {
    height: 12rem;
}

.my-books {
    position: absolute;
    left: 0px;
    width: 30vw;
    height: 100vh;
    background-color: #363062;
}

.book-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    right: 1vw;
    height: 6rem;
    width: 28vw;
    padding-left: 0.4rem;
    background-color: #f5f5f5;
    border: 2px solid #f99417;
}

.book-cover-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 4.5rem;
    margin-right: 1rem;
    box-sizing: border-box;
}

.book-cover {
    height: 50%;
}

.book-info {
    height: 4.5rem;
    padding: 0.4rem;
    display: block;
    box-sizing: border-box;
}

.book-info p {
    margin: 0;
    margin-bottom: 0.4rem;
    font-family: "Brygada 1918";
}

.book-title {
    font-weight: 700;
}

.book-author {
    font-weight: 400;
    font-style: italic;
}
